STOREFRONT_URL=https://store.solception.com
BACKEND_URL=https://medusa.solception.com
ADMIN_URL=https://medusa.solception.com/app
ADMIN_EMAIL=admin@medusa-test.com
ADMIN_PASSWORD=your_admin_password
CUSTOMER_EMAIL=john@test.com
CUSTOMER_PASSWORD=your_customer_password
PUBLISHABLE_API_KEY=your_publishable_api_key
COUNTRY_CODE=dk
TEST_PRODUCT_HANDLE=t-shirt
PROMO_CODE=TEST10
APPLITOOLS_API_KEY=your_applitools_api_key
